@charset "UTF-8";

@import '~normalize.css/normalize';
@import 'variables';
@import 'default';

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;

  &.fallback {
    background: url('https://media.giphy.com/media/lZlUJYzysCVFu/giphy.gif');
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

#presetControls {
  display: none;
}

.lines {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 3vw;
  line-height: 4vw;

  .line {
    display: inline;
  }
}

.Typewriter__cursor {
  visibility: hidden;
}
