<%= htmlWebpackPlugin.options.header %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
    />
  </head>

  <body>
    <div id="mainWrapper">
      <canvas id="canvas" width="100%" height="100%"> </canvas>
    </div>
  </body>
</html>
